<!DOCTYPE html>
<html lang='en'>
<head>
    <title>World Flipper</title>
    <meta charset='UTF-8'>
    <meta content='World Flipper' name='description'>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="styles/vue-element.css" type="text/css">
    <link rel="stylesheet" href="styles/index.css" type="text/css">
</head>
<body>
<main id='app'>
    <div class="main">
        <div class="connected-device-list">
            <el-row>
                <el-col :span="6" v-for="(o, index) in connectedDevices" :key="o">
                    <el-card :body-style="{ padding: '0px' }">
                        <div style=" margin:0 auto;">
                            <el-image :src="o.screenshot"
                                      style="height: 240px; display: block;"
                                      fit="contain">
                                <div slot="error" class="image-slot">
                                    <i class="el-icon-picture-outline"></i>
                                </div>
                            </el-image>
                        </div>
                        <div style="padding: 14px;">
                            <span>{{ o.name }}</span>
                            <div class="bottom clearfix">
                                <span>{{ o.status }}</span>
                                <span>{{ o.running_task_type }}</span>
                                <span>{{ o.conn_type }}</span>
                                <el-button type="text" class="button" @click="queryScreenshot(o.id)">操作按钮</el-button>
                            </div>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
        <div class="all-device-list">
            <div v-for="device in allDevices">
                {{device}}
            </div>
        </div>
    </div>
</main>
<script src='scripts/vue.min.js'></script>
<script src="scripts/vue-element.min.js"></script>
<script src='scripts/axios.min.js'></script>
<script src="scripts/main.js"></script>
</body>
</html>